<% content_for(:title) do %>
  <div class="page_title"><%= image_tag('titles/quiz_question_suggestion(48).png') %></div>
<% end %>
<div id='trivia_question_suggestion' class='new_trivia_question_suggestion'>
  <div>
    Please enter your name, suggested question, and suggested answer in the form below.
  </div>
  
  <%= render 'form' %>
</div>
