<% content_for(:title) do %>
  <div class="page_title"><%= image_tag('titles/about_us(48).png') %></div>
<% end %>

<div class="bride_info">
  <div class="bride_heading"><%= image_tag('about_us/sara(36).png') %></div>
  <div class="bio">
    Sara was born in...
  </div>
</div>
<br/>

<div class="groom_info">
  <div class="groom_heading"><%= image_tag('about_us/harrison(36).png') %></div>
  <div class="bio">
    <%= format_picture('about_us/harrison_growing_up.jpg', :class => 'right', :width => 175) %>
    Harrison was born in...
  </div>
</div>
