<% content_for(:title) do %>
  <div class="page_title"><%= image_tag('titles/accommodations(48).png') %></div>
<% end %>

<div>
  We recommend the following hotels ...
</div>

<div class="note">
  Please note, ...
</div>

<div id="accommodations_list">
  <div class="accommodation_option">
    <%= format_picture('accommodations/la_playa.jpg', :class => 'accommodation_img') %>
    <div class="accommodation_info">
      <div class="title"><%= link_to('Google', 'http://www.google.com/', :target => '_blank') %></div>
      <div class="room_count"><div class="header">Room Count:</div> 5</div>
      <div class="price_range"><div class="header">Price Range:</div> $425 - $775</div>
      <div class="description"><div class="header">Description:</div> Description.</div>
    </div>
  </div>
  <div class="clear"></div>
</div>
