<% content_for(:title) do %>
  <div class="page_title"><%= image_tag('titles/ceremony_&_reception(48).png') %></div>
<% end %>


<div class='img_col'>
  <%= format_picture('ceremony/surprise_party.jpg', :class => 'ceremony vert') %>
</div>
<div>
  The ceremony and reception will be held...
</div>
