<% content_for(:title) do %>
  <div class="page_title"><%= image_tag('titles/our_story(48).png') %></div>
<% end %>

<div class="story">
  <%= format_picture('our_story/couple_new_zealand.jpg', :class => 'left', :width => 175) %>
  Shortly after arriving...
</div>
