<% content_for(:title) do %>
  <div class="page_title"><%= image_tag('titles/the_proposal(48).png') %></div>
<% end %>

<div id="her_version">
  <div class="proposal_header"><%= image_tag('the_proposal/her_version(36).png') %></div>

  <div>
    So it all started at the beginning of...
  </div>
</div>

<div id="his_version">
  <div class="proposal_header"><%= image_tag('the_proposal/his_version(36).png') %></div>

  <div>
  <h3>Laying The Trap</h3>
  It all got started on...

  </div>
</div>
