<% content_for(:title) do %>
  <div class="page_title"><%= image_tag('titles/rehearsal_dinner(48).png') %></div>
<% end %>

<div>
  <p>
  The rehearsal dinner will be held at...
  </p>
</div>

<div class='img_row'>
  <%= format_picture('rehearsal_dinner/mission_ranch_1.jpg', :class => 'rehearsal_dinner vert') %>
  <%= format_picture('rehearsal_dinner/mission_ranch_3.jpg', :class => 'rehearsal_dinner vert') %>
</div>

<div class='img_row'>
  <%= format_picture('rehearsal_dinner/mission_ranch_2.jpg', :class => 'rehearsal_dinner horiz') %>
</div>
