<% content_for(:title) do %>
  <div class="page_title"><%= image_tag('titles/wedding_day_brunch(48).png') %></div>
<% end %>

<div>
  <p>
    The wedding day brunch will be held at...
  </p>
</div>

<div class='img_col'>
  <%= format_picture('wedding_day_brunch/pebble_beach_from_air.jpg', :class => 'wedding_day_brunch horiz') %>
</div>

<%= format_picture('wedding_day_brunch/club_xix.jpg', :class => 'wedding_day_brunch vert') %>
<%= format_picture('wedding_day_brunch/pebble_beach_18th.jpg', :class => 'wedding_day_brunch vert') %>

