<% content_for(:title) do %>
  <div class="page_title"><%= image_tag('titles/welcome(48).png') %></div>
<% end %>
<div class="welcome"> 
<br/>
<%= format_picture('welcome/main_img.jpg', :class => 'right', :width => 200) %>
Welcome everyone to our wedding web site! ...
<br/>
<br/>
<%= image_tag('welcome/harrison_and_sara(28).png', :class => 'signature') %>
</div>

